{% extends 'base.html.twig' %}
{% block style %}{{ asset('css/homePage.css') }}{% endblock %}
{% block title %}Accueil{% endblock %}

{% block main %}
    <section id="HomeSection1">
        <div class="section1__text">
            <h1>Comment fonctionne le site</h1>
            <p>Apprendre à utiliser le site</p>
            <button>Learn more</button>
        </div>
        <div><img src="{{ asset('img/homePage_video.png') }}" alt="video HomePage" /></div>
    </section>
    <hr>
    <section id="HomeSection2">
        <h1>Derniers cours</h1>
        <div id="HomeSection2__Courses">
            <div>
                <img src="{{ asset('img/homePage_lastCour1.png') }}"/>
                <h2>Cour 1</h2>
                <p>Description du cour dans les grandes lignes.</p>
            </div>
            <div>
                <img src="{{ asset('img/homePage_lastCour2.png') }}"/>
                <h2>Cour 2</h2>
                <p>Description du cour dans les grandes lignes.</p>
            </div>
            <div>
                <img src="{{ asset('img/homePage_lastCour3.png') }}"/>
                <h2>Cour 3</h2>
                <p>Description du cour dans les grandes lignes.</p>
            </div>

        </div>
    </section>
    <hr>
    <section id="HomeSection3">
        <img src="{{ asset('img/homePage_benefit_Img.png') }}" alt="HomePage image benefit"/>
        <div id="HomeSection3__Benefits">
            <div>
                <img src="{{ asset('img/homePage_benefit1.png') }}"/>
                <div>
                    <h2>Benefit 1</h2>
                    <p>Use this space to describe this benefit.</p>
                </div>
            </div>
            <div>
                <img src="{{ asset('img/homePage_benefit2.png') }}"/>
                <div>
                    <h2>Benefit 2</h2>
                    <p>Use this space to describe this benefit.</p>
                </div>
            </div>
            <div>
                <img src="{{ asset('img/homePage_benefit3.png') }}"/>
                <div>
                    <h2>Benefit 3</h2>
                    <p>Use this space to describe this benefit.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}