<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    <link rel="stylesheet" href="{% block style %} {% endblock %}">
    <title>{% block title %}Studento{% endblock %}</title>
</head>

<body>

    <header>
        <nav>
            <a href="{{ path('index') }}"><img src="{{ asset('img/logo60x80.png') }}" alt="logoStudento" /></a>
            <ul>
                <li class="nav_link"><a href="">Tour</a></li>
                <li class="nav_link"><a href="">Cours</a></li>
                <li class="nav_link"><a href="">Contact</a></li>

                {%  if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <li class="dropdown nav_link">
                        <a href="">Param</a>
                            <ul class="dropdown-content">
                                <li><a href="{{ path('my_profil') }}">Mon Profil</a></li>
                                <li><a href="">Mes Cours</a></li>
                                <li><a href="{{ path('logout') }}">Se déconnecter</a></li>
                            </ul>
                    </li>
                {% else %}
                    <li> <a class="button" href="{{ path('login') }}">Se connecter</a></li>
                    <li> <a class="button" href="{{ path('user_inscription') }}">S'enregistrer</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <hr>
    <hr>

    <main>
        {% block main %}{% endblock %}
    </main>

    <hr>

    <footer>
        <div>
            <h1>Studento</h1>
            <div class="copyright">Copyright © Tous droits réservés.</div>
            <div class="copyright">Design by: Dorian & Ken</div>
        </div>
    </footer>

</body>
</html>

